.side-bar{
  width: 15rem;
  height: 100vh;
  background-color: black;
  color: white;
}
.title{
  margin: 0px;
  padding-top: 1rem;
  padding-left: 10px;
}

.list{
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
}

.item{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover{
  background-color: white;
}

@media( 700px < width < 1260px ) {
  .side-bar{
    width: 10rem;
  }
}

@media( width <= 700px ) {
  .side-bar{
    width: 33vw;
  }
}
